@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Flex';
	font-size: 16px;
	font-weight: 200;
	color: #fff;
	text-decoration: none;
	transition: 200ms;
}

button {
	cursor: pointer;
}

.header {
	background: radial-gradient(circle, #395372, #1f2b3a);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 64px 4px 64px;
	position: auto;
}

.header h1 {
	font-family: Sansation;
	font-weight: 700;
	font-size: 48px;
	flex-shrink: 1;
}

.header ul {
	display: flex;
	gap: 64px;
}

.header li {
	list-style-type: none;
}

.header a {
	text-decoration: none;
}

.hero {
	background: url('./images/background.jpg');
	background-size: cover;
	display: flex;
	padding: 330px 64px;
	box-shadow: 0 12px 24px #0000007a;
}

.hero .logo {
	font-family: Sansation;
	font-size: 96px;
}

.hero h2, .logo {
	font-weight: 500;
	text-shadow: 0 0 36px #000000d3;
	min-width: 450px;
}

.hero h2 {
	font-size: 52px;
}

.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.hero-container p {
	font-size: 22px;
	text-shadow: 0 0 6px #000000;
	margin-bottom: 48px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.hero-container button {
	border: none;
	background-color: #4680b9;
	box-shadow: 0 0 32px #1980e67a;
	color: #fff;
	font-size: 16px;
	padding: 8px 48px;
	border-radius: 6px;
}

.information {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

h3 {
	font-size: 32px;
	font-weight: 500;
	color: #050D17;
}

.items {
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 128px;
	margin-bottom: 64px;
	flex-wrap: wrap;
}

.item {
	color: #050D17;
	font-size: 16px;
	flex-basis: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.item img {
	object-fit: cover;
	object-position: center;
	width: 250px;
	height: 250px;
	border-radius: 32px;
	border-width: 0px;
	border-style: solid;
	border-color: #cfcfcf;
	box-shadow: 0 0 16px #0000003d;
	margin-bottom: 16px;
}

.quote {
	background: 
	linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.2)
        ), url('./images/quote.jpg');
	background-size: cover;
	background-position: 50% 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 256px 0 256px 0;
	box-shadow: 0 0 32px #0000007a;
}

.text {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	gap: 16px;
	padding: 0 64px 0 64px;
}

.text p {
	font-size: 24px;
}

.text .quote-by {
	font-size: 18px;
	font-weight: 400;
	align-self: end;
}

.join {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 128px;
	margin-bottom: 128px;
}

.join-container {
	background: linear-gradient(#b06aff, #7eabff);
	box-shadow: 0 0 48px #b663eeb4;
	padding: 32px;
	border-radius: 12px;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.join-text h4 {
	font-size: 24px;
	font-weight: 500;
}

.join-text p {
	font-size: 18px;
	font-weight: 300;
}

.join-container button {
	margin-left: 48px;
	background-color: #915fd3;
	border: none;
	border-radius: 8px;
	padding: 8px 26px;
}

.footer {
	background-color: #e7e7e7;
	color: #8a8a8a;
	padding: 12px 0;
	text-align: center;
}

.footer:hover {
	color:#5a5a5a;
}

.join-container button:hover {
	box-shadow: 0 0 24px #dabeffce;
}

.item img:hover {
	scale: 102%;
}

.hero-container button:hover {
	scale: 102%;
}

.header h1:hover {
	scale: 102%;
}

.header li:hover {
	text-shadow: 0 0 12px #ffffff2d;
}
